@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

.img-side {
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(83.73% 0.14503 211.158);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.45 0.18 208.93);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
@layer base {
  * {
    @apply border-border outline-ring/50 select-none;
  }
  body {
    @apply bg-white text-foreground;
  }
}
@layer {
  .title-text {
    @apply text-4xl;
  }
}
#root.is-loading {
  height: 100vh;
  overflow: hidden;
}

.hero-bg-mask {
  mask-image: linear-gradient(to top, transparent 10%, white 40%);
}
.grid-bg-mask {
  mask-image: linear-gradient(to top, transparent 10%, white 30%);
}

#hero-section {
  will-change: clip-path;
}
.loader-u-div {
  mask-image: linear-gradient(to top, transparent, white);
}
.mask-b-div {
  mask-image: linear-gradient(to top, transparent, white);
}
.prBlur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.03) 10%,
    rgba(255, 255, 255, 0.08) 20%,
    rgba(255, 255, 255, 0.16) 35%,
    rgba(255, 255, 255, 0.32) 50%,
    rgba(255, 255, 255, 0.56) 65%,
    rgba(255, 255, 255, 0.8) 80%,
    rgba(255, 255, 255, 0.95) 92%,
    rgb(255, 255, 255) 100%
  );

  -webkit-mask: linear-gradient(to bottom, transparent, black 75%);

  mask: linear-gradient(to bottom, transparent, black 75%);
}
/* Ellipse 5 */
.ellipse {
  position: absolute;

  background: radial-gradient(84.8% 84.8% at 70.93% 15.2%, #00e3ff 0%, #ffffff 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background: radial-gradient(84.8% 84.8% at 70.93% 15.2%, color(display-p3 0 0.875 0.996) 0%, color(display-p3 1 1 1) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  filter: blur(2px);
  transform: rotate(45.37deg);
}

.center {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: clamp(400px, 65vw, 900px);
  width: clamp(400px, 65vw, 900px);
  transform-origin: center center;
  will-change: transform;
}

.center-con {
  mask-image: linear-gradient(to bottom, transparent 10%, white 60%);
  overflow: hidden;
}
.circular-con {
  mask-image: linear-gradient(to top, transparent 10%, white 60%);
  overflow: hidden;
}

.card-center {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.hero-text {
  background-image: linear-gradient(190deg, lab(100% 0.01 -0.01) 2%, hsl(0, 0%, 0%) 31%, hsl(0, 0%, 100%) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-text-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  background: white;
  z-index: 0;
  filter: blur(20px);
  top: 0;
  left: 0;
}
#Marqee-slider {
  mask-image: linear-gradient(to right, transparent 10%, black 20%, black 80%, transparent 90%);
}
.Service-slider-mask {
  mask-image: linear-gradient(to right, transparent 10%, black 20%, black 80%, transparent 90%);
}
#Marqee-slider-vertical {
  mask-image: linear-gradient(to bottom, transparent 10%, black 20%, black 50%, transparent 90%);
}
/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-white text-foreground;
  }
} */

.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 2fr 1.5fr 1.5fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "top-left top-left top-right top-right"
    "bottom-left middle middle bottom-right"
    "bottom-left middle middle bottom-right";
}

@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1.5fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "top-left   top-right"
      "middle  middle"
      "bottom-left  bottom-right";
    height: 250vh;
  }
}
@media (max-width: 650px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 2fr 2fr 2fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "top-left"
      "top-right"
      "middle"
      "bottom-left"
      "bottom-right";
    height: 300vh;
  }
}

.container > div {
  position: relative;
  border-radius: 16px;
  padding: 2px;
  /* background: radial-gradient(at -100% center, rgb(0, 0, 0) 10%, transparent ); */
  border: 1px solid rgba(202, 202, 202, 0.579);
}
.inner-grid {
  border-radius: 14px;
  /* background: transparent; */
}
.top-right {
  grid-area: top-right;
  /* background-color: rebeccapurple; */
}

.top-left {
  grid-area: top-left;
  /* background-color: rgb(187, 152, 222); */
}

.middle {
  grid-area: middle;
  /* background-color: rgb(51, 150, 153); */
}

.bottom-left {
  grid-area: bottom-left;
  /* background-color: rgb(153, 51, 105); */
}

.bottom-right {
  grid-area: bottom-right;
  /* background-color: rgb(153, 51, 109); */
}

.c-text {
  background-image: linear-gradient(20deg, hsl(0, 0%, 100%) 2%, hsl(181, 84%, 49%) 31%, hsl(0, 0%, 100%) 100%);
  /* background: url("https://static.vecteezy.com/system/resources/thumbnails/011/499/552/small_2x/light-blue-blurry-triangle-texture-vector.jpg"); */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

/* #canvas {
  pointer-events: all !important;
} */

/* /???? */
.wrapper {
  position: absolute;
  overflow: hidden;
  width: 70%;
  top: 100px;
  left: 50%;
}

.viewport {
  position: absolute;
  /* pointer-events: none; */
  width: calc(70% + 8px);
  top: 100px;
  left: 50%;
  border: 2px solid #8d0707;
}

.num {
  position: absolute;
  color: #fafafa;
  font-size: 18px;
  line-height: 1;
  top: 14px;
  left: 8px;
  text-shadow:
    1px 1px 0px #555,
    -1px -1px 0px #555,
    1px -1px 0px #555,
    -1px 1px 0px #555;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  position: relative;
}

.radial-blur-v {
  background: radial-gradient(at center, #fbb5ff, transparent);
}
.radial-blur-b {
  background: radial-gradient(at center, var(--color-background), transparent);
}
.radial-blur-nav {
  background: radial-gradient(at 0% 100%, var(--color-background) 40%, transparent);
}

.t-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio-mask {
  mask-image: linear-gradient(to left, transparent 50%, black);
}

.fading::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  box-shadow: inset 0 0 20px 10px rgba(255, 255, 255, 0.232);
  border-radius: 999px;
  overflow: hidden;
}
img {
  user-select: none;
  pointer-events: none;
}

.glow {
  text-shadow:
    0 0 10px var(--background),
    0 0 20px var(--background),
    0 0 30px var(--background),
    0 0 40px var(--background),
    0 0 50px var(--background),
    0 0 60px var(--background),
    0 0 70px var(--background);
  color: white;
}
